
<h1>Weekend Heating</h1>
<form action="heatingW" method="GET"/>
<table>
<th>01-04</th><th>04-06</th><th>06-07</th><th>07-08</th><th>08-09</th><th>09-12</th>
	</tr>

	<tr>
		<td>
			<select name="w0004" id="w0004">
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="52">52</option>
				<option value="54">54</option>
				<option value="56">56</option>
				<option value="58">58</option>
				<option value="60">60</option>
				<option value="62">62</option>
				<option value="64">64</option>
				<option value="66">66</option>
				<option value="68">68</option>
				<option value="70">70</option>
				<option value="72">72</option>
				<option value="74">74</option>
				<option value="76">76</option>
				<option value="78">78</option>
				<option value="80">80</option>
			</select>
		</td>
		<td>
			<select name="w0406" id="w0406">
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="52">52</option>
				<option value="54">54</option>
				<option value="56">56</option>
				<option value="58">58</option>
				<option value="60">60</option>
				<option value="62">62</option>
				<option value="64">64</option>
				<option value="66">66</option>
				<option value="68">68</option>
				<option value="70">70</option>
				<option value="72">72</option>
				<option value="74">74</option>
				<option value="76">76</option>
				<option value="78">78</option>
				<option value="80">80</option>
			</select>
		</td>
		<td>
			<select name="w0607" id="w0607">
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="52">52</option>
				<option value="54">54</option>
				<option value="56">56</option>
				<option value="58">58</option>
				<option value="60">60</option>
				<option value="62">62</option>
				<option value="64">64</option>
				<option value="66">66</option>
				<option value="68">68</option>
				<option value="70">70</option>
				<option value="72">72</option>
				<option value="74">74</option>
				<option value="76">76</option>
				<option value="78">78</option>
				<option value="80">80</option>
			</select>
		</td>		
		<td>
			<select name="w0708" id="w0708">
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="52">52</option>
				<option value="54">54</option>
				<option value="56">56</option>
				<option value="58">58</option>
				<option value="60">60</option>
				<option value="62">62</option>
				<option value="64">64</option>
				<option value="66">66</option>
				<option value="68">68</option>
				<option value="70">70</option>
				<option value="72">72</option>
				<option value="74">74</option>
				<option value="76">76</option>
				<option value="78">78</option>
				<option value="80">80</option>
			</select>
		</td>
		<td>
			<select name="w0809" id="w0809">
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="52">52</option>
				<option value="54">54</option>
				<option value="56">56</option>
				<option value="58">58</option>
				<option value="60">60</option>
				<option value="62">62</option>
				<option value="64">64</option>
				<option value="66">66</option>
				<option value="68">68</option>
				<option value="70">70</option>
				<option value="72">72</option>
				<option value="74">74</option>
				<option value="76">76</option>
				<option value="78">78</option>
				<option value="80">80</option>
			</select>
		</td>
		<td>
			<select name="w0912" id="w0912">
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="52">52</option>
				<option value="54">54</option>
				<option value="56">56</option>
				<option value="58">58</option>
				<option value="60">60</option>
				<option value="62">62</option>
				<option value="64">64</option>
				<option value="66">66</option>
				<option value="68">68</option>
				<option value="70">70</option>
				<option value="72">72</option>
				<option value="74">74</option>
				<option value="76">76</option>
				<option value="78">78</option>
				<option value="80">80</option>
			</select>
		</td>
		<td>deg C</td>
	</tr>
    <tr>
		<th>12-15</th><th>15-16</th><th>16-17</th><th>17-22</th><th>22-23</th><th>23-24</th>
	</tr>

		<tr>
			<td>
				<select name="w1215" id="w1215">
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="52">52</option>
				<option value="54">54</option>
				<option value="56">56</option>
				<option value="58">58</option>
				<option value="60">60</option>
				<option value="62">62</option>
				<option value="64">64</option>
				<option value="66">66</option>
				<option value="68">68</option>
				<option value="70">70</option>
				<option value="72">72</option>
				<option value="74">74</option>
				<option value="76">76</option>
				<option value="78">78</option>
				<option value="80">80</option>
				</select>
			</td>
			<td>
				<select name="w1516" id="w1516">
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="52">52</option>
				<option value="54">54</option>
				<option value="56">56</option>
				<option value="58">58</option>
				<option value="60">60</option>
				<option value="62">62</option>
				<option value="64">64</option>
				<option value="66">66</option>
				<option value="68">68</option>
				<option value="70">70</option>
				<option value="72">72</option>
				<option value="74">74</option>
				<option value="76">76</option>
				<option value="78">78</option>
				<option value="80">80</option>
				</select>
			</td>
			<td>
				<select name="w1617" id="w1617">
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="52">52</option>
				<option value="54">54</option>
				<option value="56">56</option>
				<option value="58">58</option>
				<option value="60">60</option>
				<option value="62">62</option>
				<option value="64">64</option>
				<option value="66">66</option>
				<option value="68">68</option>
				<option value="70">70</option>
				<option value="72">72</option>
				<option value="74">74</option>
				<option value="76">76</option>
				<option value="78">78</option>
				<option value="80">80</option>
				</select>
			</td>		
			<td>
				<select name="w1722" id="w1722">
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="52">52</option>
				<option value="54">54</option>
				<option value="56">56</option>
				<option value="58">58</option>
				<option value="60">60</option>
				<option value="62">62</option>
				<option value="64">64</option>
				<option value="66">66</option>
				<option value="68">68</option>
				<option value="70">70</option>
				<option value="72">72</option>
				<option value="74">74</option>
				<option value="76">76</option>
				<option value="78">78</option>
				<option value="80">80</option>
				</select>
			</td>
			<td>
				<select name="w2223" id="w2223">
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="52">52</option>
				<option value="54">54</option>
				<option value="56">56</option>
				<option value="58">58</option>
				<option value="60">60</option>
				<option value="62">62</option>
				<option value="64">64</option>
				<option value="66">66</option>
				<option value="68">68</option>
				<option value="70">70</option>
				<option value="72">72</option>
				<option value="74">74</option>
				<option value="76">76</option>
				<option value="78">78</option>
				<option value="80">80</option>
				</select>
			</td>
			<td>
				<select name="w2324" id="w2324">
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
				<option value="52">52</option>
				<option value="54">54</option>
				<option value="56">56</option>
				<option value="58">58</option>
				<option value="60">60</option>
				<option value="62">62</option>
				<option value="64">64</option>
				<option value="66">66</option>
				<option value="68">68</option>
				<option value="70">70</option>
				<option value="72">72</option>
				<option value="74">74</option>
				<option value="76">76</option>
				<option value="78">78</option>
				<option value="80">80</option>
				</select>
			</td>
			<td>deg C</td>
		</tr>
</table>



<input class="button" type="submit" value="Save Changes"/> 
&nbsp; <input class="button" type="button" value="Home" onClick="goto('home?')"/>

</form>


<script>
	setSelected("w0004", "::TEMP_w0004::");
	setSelected("w0406", "::TEMP_w0406::");
	setSelected("w0607", "::TEMP_w0607::");
	setSelected("w0708", "::TEMP_w0708::");
	setSelected("w0809", "::TEMP_w0809::");
	setSelected("w0912", "::TEMP_w0912::");
	setSelected("w1215", "::TEMP_w1215::");
	setSelected("w1516", "::TEMP_w1516::");
	setSelected("w1617", "::TEMP_w1617::");
	setSelected("w1722", "::TEMP_w1722::");
	setSelected("w2223", "::TEMP_w2223::");
	setSelected("w2324", "::TEMP_w2324::");
</script>