
<h1>Mon-Fri Heating</h1>
<form action="heatingD" method="GET"/>
<table>
<th>01-04</th><th>04-06</th><th>06-07</th><th>07-08</th><th>08-09</th><th>09-12</th>
	</tr>

	<tr>
		<td>
			<select name="d0004" id="d0004">
				<option value="0">0</option>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
			</select>
		</td>
		<td>
			<select name="d0406" id="d0406">
				<option value="0">0</option>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
			</select>
		</td>
		<td>
			<select name="d0607" id="d0607">
				<option value="0">0</option>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
			</select>
		</td>		
		<td>
			<select name="d0708" id="d0708">
				<option value="0">0</option>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
			</select>
		</td>
		<td>
			<select name="d0809" id="d0809">
				<option value="0">0</option>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
			</select>
		</td>
		<td>
			<select name="d0912" id="d0912">
				<option value="0">0</option>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
			</select>
		</td>
		<td>deg C</td>
	</tr>
	<tr>
		<th>12-15</th><th>15-16</th><th>16-17</th><th>17-22</th><th>22-23</th><th>23-24</th>
	</tr>

		<tr>
			<td>
				<select name="d1215" id="d1215">
					<option value="0">0</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
				</select>
			</td>
			<td>
				<select name="d1516" id="d1516">
					<option value="0">0</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
				</select>
			</td>
			<td>
				<select name="d1617" id="d1617">
					<option value="0">0</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
				</select>
			</td>		
			<td>
				<select name="d1722" id="d1722">
					<option value="0">0</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
				</select>
			</td>
			<td>
				<select name="d2223" id="d2223">
					<option value="0">0</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
				</select>
			</td>
			<td>
				<select name="d2324" id="d2324">
					<option value="0">0</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
				</select>
			</td>
			<td>deg C</td>
		</tr>
</table>


<input class="button" type="submit" value="Save Changes"/> 
&nbsp; <input class="button" type="button" value="Home" onClick="goto('home?')"/>

</form>


<script>
	setSelected("d0004", "::TEMP_d0004::");
	setSelected("d0406", "::TEMP_d0406::");
	setSelected("d0607", "::TEMP_d0607::");
	setSelected("d0708", "::TEMP_d0708::");
	setSelected("d0809", "::TEMP_d0809::");
	setSelected("d0912", "::TEMP_d0912::");
	setSelected("d1215", "::TEMP_d1215::");
	setSelected("d1516", "::TEMP_d1516::");
	setSelected("d1617", "::TEMP_d1617::");
	setSelected("d1722", "::TEMP_d1722::");
	setSelected("d2223", "::TEMP_d2223::");
	setSelected("d2324", "::TEMP_d2324::");
</script>