
<h1>Home</h1>
<table cellPadding="20">
	<tr>
		<td class="cellButtonHome" onClick="javascript:goto('power?')">Light and Power</td>
		<td class="cellButtonHome" onClick="javascript:goto('bedtime?')">Bedtime</td>
	</tr>
	<tr>
		<td class="cellButtonHome" onClick="javascript:goto('timers?')">Timers</td>
		<td class="cellButtonHome" onClick="javascript:goto('door?')">Door</td>
	</tr>
	<tr>
		<td class="cellButtonHome" onClick="javascript:goto('heatingD?')">Heating Mon-Fri</td>
		<td class="cellButtonHome" onClick="javascript:goto('heatingW?')">Heating Weekend</td>
	</tr>
</table>
