
<h1>Power</h1>

<table>
	<tr>
		<td class="cellButton">::POWERNAME1::</td>
		<td class="onButton" onClick="goto('power?l=1&s=1')">On</td>
		<td class="offButton" onClick="goto('power?l=1&s=0')">Off</td>
	</tr>
	<tr>
		<td class="cellButton">::POWERNAME2::</td>
		<td class="onButton" onClick="goto('power?l=2&s=1')">On</td>
		<td class="offButton" onClick="goto('power?l=2&s=0')">Off</td>
	</tr>
	<tr>
		<td class="cellButton">::POWERNAME3::</td>
		<td class="onButton" onClick="goto('power?l=3&s=1')">On</td>
		<td class="offButton" onClick="goto('power?l=3&s=0')">Off</td>
	</tr>
		<tr>
		<td class="cellButton">::POWERNAME4::</td>
		<td class="onButton" onClick="goto('power?l=4&s=1')">On</td>
		<td class="offButton" onClick="goto('power?l=4&s=0')">Off</td>
	</tr>
	<tr></tr>
	<tr>
		<td class="cellButton">All</td>
		<td class="onButton" onClick="goto('power?l=A&s=1')">On</td>
		<td class="offButton" onClick="goto('power?l=A&s=0')">Off</td>
	</tr>
</table>

<input class="button" type="button" value="Home" onClick="goto('home?')"/>