
<h1>Timers</h1>
<form action="timers" method="GET"/>
<table>
	<tr>
		<th></th><th>Item</th><th>On Time</th><th>Off Time</th>
	<tr>
		<td>1</td>
		<td>
			<select name="item1" id="item1">
				<option value="null">OFF</option>
				<option value="1">::POWERNAME1::</option>
				<option value="2">::POWERNAME2::</option>
				<option value="3">::POWERNAME3::</option>
				<option value="4">::POWERNAME4::</option>
			</select>
		</td>
		<td>
			<select name="on1" id="on1">
				<option value="0000">00:00</option>
				<option value="0030">00:30</option>
				<option value="0100">01:00</option>
				<option value="0130">01:30</option>
				<option value="0200">02:00</option>
				<option value="0230">02:30</option>
				<option value="0300">03:00</option>
				<option value="0330">03:30</option>
				<option value="0400">04:00</option>
				<option value="0430">04:30</option>
				<option value="0500">05:00</option>
				<option value="0530">05:30</option>
				<option value="0600">06:00</option>
				<option value="0630">06:30</option>
				<option value="0700">07:00</option>
				<option value="0730">07:30</option>
				<option value="0800">08:00</option>
				<option value="0830">08:30</option>
				<option value="0900">09:00</option>
				<option value="0930">09:30</option>
				<option value="1000">10:00</option>
				<option value="1030">10:30</option>
				<option value="1100">11:00</option>
				<option value="1130">11:30</option>
				<option value="1200">12:00</option>
				<option value="1230">12:30</option>
				<option value="1300">13:00</option>
				<option value="1330">13:30</option>
				<option value="1400">14:00</option>
				<option value="1430">14:30</option>
				<option value="1500">15:00</option>
				<option value="1530">15:30</option>
				<option value="1600">16:00</option>
				<option value="1630">16:30</option>
				<option value="1700">17:00</option>
				<option value="1730">17:30</option>
				<option value="1800">18:00</option>
				<option value="1830">18:30</option>
				<option value="1900">19:00</option>
				<option value="1930">19:30</option>
				<option value="2000">20:00</option>
				<option value="2030">20:30</option>
				<option value="2100">21:00</option>
				<option value="2130">21:30</option>
				<option value="2200">22:00</option>
				<option value="2230">22:30</option>
				<option value="2300">23:00</option>
				<option value="2330">23:30</option>
			</select>
		</td>
		<td>
			<select name="off1" id="off1">
				<option value="0000">00:00</option>
				<option value="0030">00:30</option>
				<option value="0100">01:00</option>
				<option value="0130">01:30</option>
				<option value="0200">02:00</option>
				<option value="0230">02:30</option>
				<option value="0300">03:00</option>
				<option value="0330">03:30</option>
				<option value="0400">04:00</option>
				<option value="0430">04:30</option>
				<option value="0500">05:00</option>
				<option value="0530">05:30</option>
				<option value="0600">06:00</option>
				<option value="0630">06:30</option>
				<option value="0700">07:00</option>
				<option value="0730">07:30</option>
				<option value="0800">08:00</option>
				<option value="0830">08:30</option>
				<option value="0900">09:00</option>
				<option value="0930">09:30</option>
				<option value="1000">10:00</option>
				<option value="1030">10:30</option>
				<option value="1100">11:00</option>
				<option value="1130">11:30</option>
				<option value="1200">12:00</option>
				<option value="1230">12:30</option>
				<option value="1300">13:00</option>
				<option value="1330">13:30</option>
				<option value="1400">14:00</option>
				<option value="1430">14:30</option>
				<option value="1500">15:00</option>
				<option value="1530">15:30</option>
				<option value="1600">16:00</option>
				<option value="1630">16:30</option>
				<option value="1700">17:00</option>
				<option value="1730">17:30</option>
				<option value="1800">18:00</option>
				<option value="1830">18:30</option>
				<option value="1900">19:00</option>
				<option value="1930">19:30</option>
				<option value="2000">20:00</option>
				<option value="2030">20:30</option>
				<option value="2100">21:00</option>
				<option value="2130">21:30</option>
				<option value="2200">22:00</option>
				<option value="2230">22:30</option>
				<option value="2300">23:00</option>
				<option value="2330">23:30</option>
			</select>
		</td>
	</tr>
	
		<tr>
		<td>2</td>
		<td>
			<select name="item2" id="item2">
				<option value="null">OFF</option>
				<option value="1">::POWERNAME1::</option>
				<option value="2">::POWERNAME2::</option>
				<option value="3">::POWERNAME3::</option>
				<option value="4">::POWERNAME4::</option>
			</select>
		</td>
		<td>
			<select name="on2" id="on2">
				<option value="0000">00:00</option>
				<option value="0030">00:30</option>
				<option value="0100">01:00</option>
				<option value="0130">01:30</option>
				<option value="0200">02:00</option>
				<option value="0230">02:30</option>
				<option value="0300">03:00</option>
				<option value="0330">03:30</option>
				<option value="0400">04:00</option>
				<option value="0430">04:30</option>
				<option value="0500">05:00</option>
				<option value="0530">05:30</option>
				<option value="0600">06:00</option>
				<option value="0630">06:30</option>
				<option value="0700">07:00</option>
				<option value="0730">07:30</option>
				<option value="0800">08:00</option>
				<option value="0830">08:30</option>
				<option value="0900">09:00</option>
				<option value="0930">09:30</option>
				<option value="1000">10:00</option>
				<option value="1030">10:30</option>
				<option value="1100">11:00</option>
				<option value="1130">11:30</option>
				<option value="1200">12:00</option>
				<option value="1230">12:30</option>
				<option value="1300">13:00</option>
				<option value="1330">13:30</option>
				<option value="1400">14:00</option>
				<option value="1430">14:30</option>
				<option value="1500">15:00</option>
				<option value="1530">15:30</option>
				<option value="1600">16:00</option>
				<option value="1630">16:30</option>
				<option value="1700">17:00</option>
				<option value="1730">17:30</option>
				<option value="1800">18:00</option>
				<option value="1830">18:30</option>
				<option value="1900">19:00</option>
				<option value="1930">19:30</option>
				<option value="2000">20:00</option>
				<option value="2030">20:30</option>
				<option value="2100">21:00</option>
				<option value="2130">21:30</option>
				<option value="2200">22:00</option>
				<option value="2230">22:30</option>
				<option value="2300">23:00</option>
				<option value="2330">23:30</option>
			</select>
		</td>
		<td>
			<select name="off2" id="off2">
				<option value="0000">00:00</option>
				<option value="0030">00:30</option>
				<option value="0100">01:00</option>
				<option value="0130">01:30</option>
				<option value="0200">02:00</option>
				<option value="0230">02:30</option>
				<option value="0300">03:00</option>
				<option value="0330">03:30</option>
				<option value="0400">04:00</option>
				<option value="0430">04:30</option>
				<option value="0500">05:00</option>
				<option value="0530">05:30</option>
				<option value="0600">06:00</option>
				<option value="0630">06:30</option>
				<option value="0700">07:00</option>
				<option value="0730">07:30</option>
				<option value="0800">08:00</option>
				<option value="0830">08:30</option>
				<option value="0900">09:00</option>
				<option value="0930">09:30</option>
				<option value="1000">10:00</option>
				<option value="1030">10:30</option>
				<option value="1100">11:00</option>
				<option value="1130">11:30</option>
				<option value="1200">12:00</option>
				<option value="1230">12:30</option>
				<option value="1300">13:00</option>
				<option value="1330">13:30</option>
				<option value="1400">14:00</option>
				<option value="1430">14:30</option>
				<option value="1500">15:00</option>
				<option value="1530">15:30</option>
				<option value="1600">16:00</option>
				<option value="1630">16:30</option>
				<option value="1700">17:00</option>
				<option value="1730">17:30</option>
				<option value="1800">18:00</option>
				<option value="1830">18:30</option>
				<option value="1900">19:00</option>
				<option value="1930">19:30</option>
				<option value="2000">20:00</option>
				<option value="2030">20:30</option>
				<option value="2100">21:00</option>
				<option value="2130">21:30</option>
				<option value="2200">22:00</option>
				<option value="2230">22:30</option>
				<option value="2300">23:00</option>
				<option value="2330">23:30</option>
			</select>
		</td>
	</tr>
	
		<tr>
		<td>3</td>
		<td>
			<select name="item3" id="item3">
				<option value="null">OFF</option>
				<option value="1">::POWERNAME1::</option>
				<option value="2">::POWERNAME2::</option>
				<option value="3">::POWERNAME3::</option>
				<option value="4">::POWERNAME4::</option>
			</select>
		</td>
		<td>
			<select name="on3" id="on3">
				<option value="0000">00:00</option>
				<option value="0030">00:30</option>
				<option value="0100">01:00</option>
				<option value="0130">01:30</option>
				<option value="0200">02:00</option>
				<option value="0230">02:30</option>
				<option value="0300">03:00</option>
				<option value="0330">03:30</option>
				<option value="0400">04:00</option>
				<option value="0430">04:30</option>
				<option value="0500">05:00</option>
				<option value="0530">05:30</option>
				<option value="0600">06:00</option>
				<option value="0630">06:30</option>
				<option value="0700">07:00</option>
				<option value="0730">07:30</option>
				<option value="0800">08:00</option>
				<option value="0830">08:30</option>
				<option value="0900">09:00</option>
				<option value="0930">09:30</option>
				<option value="1000">10:00</option>
				<option value="1030">10:30</option>
				<option value="1100">11:00</option>
				<option value="1130">11:30</option>
				<option value="1200">12:00</option>
				<option value="1230">12:30</option>
				<option value="1300">13:00</option>
				<option value="1330">13:30</option>
				<option value="1400">14:00</option>
				<option value="1430">14:30</option>
				<option value="1500">15:00</option>
				<option value="1530">15:30</option>
				<option value="1600">16:00</option>
				<option value="1630">16:30</option>
				<option value="1700">17:00</option>
				<option value="1730">17:30</option>
				<option value="1800">18:00</option>
				<option value="1830">18:30</option>
				<option value="1900">19:00</option>
				<option value="1930">19:30</option>
				<option value="2000">20:00</option>
				<option value="2030">20:30</option>
				<option value="2100">21:00</option>
				<option value="2130">21:30</option>
				<option value="2200">22:00</option>
				<option value="2230">22:30</option>
				<option value="2300">23:00</option>
				<option value="2330">23:30</option>
			</select>
		</td>
		<td>
			<select name="off3" id="off3">
				<option value="0000">00:00</option>
				<option value="0030">00:30</option>
				<option value="0100">01:00</option>
				<option value="0130">01:30</option>
				<option value="0200">02:00</option>
				<option value="0230">02:30</option>
				<option value="0300">03:00</option>
				<option value="0330">03:30</option>
				<option value="0400">04:00</option>
				<option value="0430">04:30</option>
				<option value="0500">05:00</option>
				<option value="0530">05:30</option>
				<option value="0600">06:00</option>
				<option value="0630">06:30</option>
				<option value="0700">07:00</option>
				<option value="0730">07:30</option>
				<option value="0800">08:00</option>
				<option value="0830">08:30</option>
				<option value="0900">09:00</option>
				<option value="0930">09:30</option>
				<option value="1000">10:00</option>
				<option value="1030">10:30</option>
				<option value="1100">11:00</option>
				<option value="1130">11:30</option>
				<option value="1200">12:00</option>
				<option value="1230">12:30</option>
				<option value="1300">13:00</option>
				<option value="1330">13:30</option>
				<option value="1400">14:00</option>
				<option value="1430">14:30</option>
				<option value="1500">15:00</option>
				<option value="1530">15:30</option>
				<option value="1600">16:00</option>
				<option value="1630">16:30</option>
				<option value="1700">17:00</option>
				<option value="1730">17:30</option>
				<option value="1800">18:00</option>
				<option value="1830">18:30</option>
				<option value="1900">19:00</option>
				<option value="1930">19:30</option>
				<option value="2000">20:00</option>
				<option value="2030">20:30</option>
				<option value="2100">21:00</option>
				<option value="2130">21:30</option>
				<option value="2200">22:00</option>
				<option value="2230">22:30</option>
				<option value="2300">23:00</option>
				<option value="2330">23:30</option>
			</select>
		</td>
	</tr>
	
		<tr>
		<td>4</td>
		<td>
			<select name="item4" id="item4">
				<option value="null">OFF</option>
				<option value="1">::POWERNAME1::</option>
				<option value="2">::POWERNAME2::</option>
				<option value="3">::POWERNAME3::</option>
				<option value="4">::POWERNAME4::</option>
			</select>
		</td>
		<td>
			<select name="on4" id="on4">
				<option value="0000">00:00</option>
				<option value="0030">00:30</option>
				<option value="0100">01:00</option>
				<option value="0130">01:30</option>
				<option value="0200">02:00</option>
				<option value="0230">02:30</option>
				<option value="0300">03:00</option>
				<option value="0330">03:30</option>
				<option value="0400">04:00</option>
				<option value="0430">04:30</option>
				<option value="0500">05:00</option>
				<option value="0530">05:30</option>
				<option value="0600">06:00</option>
				<option value="0630">06:30</option>
				<option value="0700">07:00</option>
				<option value="0730">07:30</option>
				<option value="0800">08:00</option>
				<option value="0830">08:30</option>
				<option value="0900">09:00</option>
				<option value="0930">09:30</option>
				<option value="1000">10:00</option>
				<option value="1030">10:30</option>
				<option value="1100">11:00</option>
				<option value="1130">11:30</option>
				<option value="1200">12:00</option>
				<option value="1230">12:30</option>
				<option value="1300">13:00</option>
				<option value="1330">13:30</option>
				<option value="1400">14:00</option>
				<option value="1430">14:30</option>
				<option value="1500">15:00</option>
				<option value="1530">15:30</option>
				<option value="1600">16:00</option>
				<option value="1630">16:30</option>
				<option value="1700">17:00</option>
				<option value="1730">17:30</option>
				<option value="1800">18:00</option>
				<option value="1830">18:30</option>
				<option value="1900">19:00</option>
				<option value="1930">19:30</option>
				<option value="2000">20:00</option>
				<option value="2030">20:30</option>
				<option value="2100">21:00</option>
				<option value="2130">21:30</option>
				<option value="2200">22:00</option>
				<option value="2230">22:30</option>
				<option value="2300">23:00</option>
				<option value="2330">23:30</option>
			</select>
		</td>
		<td>
			<select name="off4" id="off4">
				<option value="0000">00:00</option>
				<option value="0030">00:30</option>
				<option value="0100">01:00</option>
				<option value="0130">01:30</option>
				<option value="0200">02:00</option>
				<option value="0230">02:30</option>
				<option value="0300">03:00</option>
				<option value="0330">03:30</option>
				<option value="0400">04:00</option>
				<option value="0430">04:30</option>
				<option value="0500">05:00</option>
				<option value="0530">05:30</option>
				<option value="0600">06:00</option>
				<option value="0630">06:30</option>
				<option value="0700">07:00</option>
				<option value="0730">07:30</option>
				<option value="0800">08:00</option>
				<option value="0830">08:30</option>
				<option value="0900">09:00</option>
				<option value="0930">09:30</option>
				<option value="1000">10:00</option>
				<option value="1030">10:30</option>
				<option value="1100">11:00</option>
				<option value="1130">11:30</option>
				<option value="1200">12:00</option>
				<option value="1230">12:30</option>
				<option value="1300">13:00</option>
				<option value="1330">13:30</option>
				<option value="1400">14:00</option>
				<option value="1430">14:30</option>
				<option value="1500">15:00</option>
				<option value="1530">15:30</option>
				<option value="1600">16:00</option>
				<option value="1630">16:30</option>
				<option value="1700">17:00</option>
				<option value="1730">17:30</option>
				<option value="1800">18:00</option>
				<option value="1830">18:30</option>
				<option value="1900">19:00</option>
				<option value="1930">19:30</option>
				<option value="2000">20:00</option>
				<option value="2030">20:30</option>
				<option value="2100">21:00</option>
				<option value="2130">21:30</option>
				<option value="2200">22:00</option>
				<option value="2230">22:30</option>
				<option value="2300">23:00</option>
				<option value="2330">23:30</option>
			</select>
		</td>
	</tr>
	
		<tr>
		<td>5</td>
		<td>
			<select name="item5" id="item5">
				<option value="null">OFF</option>
				<option value="1">::POWERNAME1::</option>
				<option value="2">::POWERNAME2::</option>
				<option value="3">::POWERNAME3::</option>
				<option value="4">::POWERNAME4::</option>
			</select>
		</td>
		<td>
			<select name="on5" id="on5">
				<option value="0000">00:00</option>
				<option value="0030">00:30</option>
				<option value="0100">01:00</option>
				<option value="0130">01:30</option>
				<option value="0200">02:00</option>
				<option value="0230">02:30</option>
				<option value="0300">03:00</option>
				<option value="0330">03:30</option>
				<option value="0400">04:00</option>
				<option value="0430">04:30</option>
				<option value="0500">05:00</option>
				<option value="0530">05:30</option>
				<option value="0600">06:00</option>
				<option value="0630">06:30</option>
				<option value="0700">07:00</option>
				<option value="0730">07:30</option>
				<option value="0800">08:00</option>
				<option value="0830">08:30</option>
				<option value="0900">09:00</option>
				<option value="0930">09:30</option>
				<option value="1000">10:00</option>
				<option value="1030">10:30</option>
				<option value="1100">11:00</option>
				<option value="1130">11:30</option>
				<option value="1200">12:00</option>
				<option value="1230">12:30</option>
				<option value="1300">13:00</option>
				<option value="1330">13:30</option>
				<option value="1400">14:00</option>
				<option value="1430">14:30</option>
				<option value="1500">15:00</option>
				<option value="1530">15:30</option>
				<option value="1600">16:00</option>
				<option value="1630">16:30</option>
				<option value="1700">17:00</option>
				<option value="1730">17:30</option>
				<option value="1800">18:00</option>
				<option value="1830">18:30</option>
				<option value="1900">19:00</option>
				<option value="1930">19:30</option>
				<option value="2000">20:00</option>
				<option value="2030">20:30</option>
				<option value="2100">21:00</option>
				<option value="2130">21:30</option>
				<option value="2200">22:00</option>
				<option value="2230">22:30</option>
				<option value="2300">23:00</option>
				<option value="2330">23:30</option>
			</select>
		</td>
		<td>
			<select name="off5" id="off5">
				<option value="0000">00:00</option>
				<option value="0030">00:30</option>
				<option value="0100">01:00</option>
				<option value="0130">01:30</option>
				<option value="0200">02:00</option>
				<option value="0230">02:30</option>
				<option value="0300">03:00</option>
				<option value="0330">03:30</option>
				<option value="0400">04:00</option>
				<option value="0430">04:30</option>
				<option value="0500">05:00</option>
				<option value="0530">05:30</option>
				<option value="0600">06:00</option>
				<option value="0630">06:30</option>
				<option value="0700">07:00</option>
				<option value="0730">07:30</option>
				<option value="0800">08:00</option>
				<option value="0830">08:30</option>
				<option value="0900">09:00</option>
				<option value="0930">09:30</option>
				<option value="1000">10:00</option>
				<option value="1030">10:30</option>
				<option value="1100">11:00</option>
				<option value="1130">11:30</option>
				<option value="1200">12:00</option>
				<option value="1230">12:30</option>
				<option value="1300">13:00</option>
				<option value="1330">13:30</option>
				<option value="1400">14:00</option>
				<option value="1430">14:30</option>
				<option value="1500">15:00</option>
				<option value="1530">15:30</option>
				<option value="1600">16:00</option>
				<option value="1630">16:30</option>
				<option value="1700">17:00</option>
				<option value="1730">17:30</option>
				<option value="1800">18:00</option>
				<option value="1830">18:30</option>
				<option value="1900">19:00</option>
				<option value="1930">19:30</option>
				<option value="2000">20:00</option>
				<option value="2030">20:30</option>
				<option value="2100">21:00</option>
				<option value="2130">21:30</option>
				<option value="2200">22:00</option>
				<option value="2230">22:30</option>
				<option value="2300">23:00</option>
				<option value="2330">23:30</option>
			</select>
		</td>
	</tr>
	
</table>

<script>
	setSelected("item1", "::TIMER_ITEM1::");
	setSelected("on1", "::TIMER_ON1::");
	setSelected("off1", "::TIMER_OFF1::");
	
	setSelected("item2", "::TIMER_ITEM2::");
	setSelected("on2", "::TIMER_ON2::");
	setSelected("off2", "::TIMER_OFF2::");
	
	setSelected("item3", "::TIMER_ITEM3::");
	setSelected("on3", "::TIMER_ON3::");
	setSelected("off3", "::TIMER_OFF3::");
	
	setSelected("item4", "::TIMER_ITEM4::");
	setSelected("on4", "::TIMER_ON4::");
	setSelected("off4", "::TIMER_OFF4::");
	
	setSelected("item5", "::TIMER_ITEM5::");
	setSelected("on5", "::TIMER_ON5::");
	setSelected("off5", "::TIMER_OFF5::");
</script>

<input class="button" type="submit" value="Save Changes"/> 
&nbsp; <input class="button" type="button" value="Home" onClick="goto('home?')"/>

</form>