<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	android:versionName="1.0" package="org.simonmonk.templogger">

	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" />
	<uses-permission android:name="android.permission.INTERNET" /> 
		

	<application android:icon="@drawable/ic_launcher_demokit"
		android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
		
		<uses-library android:name="com.android.future.usb.accessory" />
		
		<activity android:name="DroidTempLoggerLaunch" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="DroidTempLogger" android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="DroidTempLoggerActivity" android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>

		<activity android:name="org.simonmonk.templogger.UsbAccessoryActivity" android:label="DroidTempLogger"
			android:taskAffinity="" android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
			</intent-filter>

			<meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
				android:resource="@xml/accessory_filter" />
		</activity>
		<activity android:name="SettingsActivity"></activity>

	</application>
</manifest>
